<!--
* Author: WebAppLayers
* Product Name: HOMER
* Version: 3.1.0
* Purchase: https://wrapmarket.com/item/homer-responsive-admin-dashboard-template-WB055J451
* Website:  https://www.webapplayers.com
* Contact: support@webapplayers.com
* License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" {% block html_attribute %}{% endblock html_attribute %}>
